:root {
    --btn-primary-bg-color: #3f71f6;
    --btn-primary-color: #ffffff;

    --btn-secondary-bg-color: #ffffff;
    --btn-secondary-color: #0e1014;
    --btn-secondary-shadow-color: rgba(0, 0, 0, 0.1);
    --btn-secondary-hover-bg-color: #3f71f6;
    --btn-secondary-hover-color: #ffffff;
    --btn-secondary-hover-border-color: #3f71f6;
    --btn-secondary-hover-shadow-color: rgba(63, 113, 246, 0.3);
    --btn-secondary-active-bg-color: #2a53b5;
    --btn-secondary-active-shadow-color: rgba(0, 0, 0, 0.2);
    --btn-secondary-focus-color: #ffffff;
    --btn-secondary-focus-shadow-color: rgba(63, 113, 246, 0.5);

    --btn-menu-bg-color: #1f1e1e;
    --btn-menu-color: #ffffff;

    --btn-icon-bg-color: #191d24;
    --btn-icon-border-color: rgba(255, 255, 255, 0.3);
    --btn-icon-shadow-color: rgba(255, 255, 255, 0.5);

    --btn-social-bg-color: transparent;
    --btn-social-border-color: transparent;
}

@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: transaprent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn {
    @include btn;
    &.primary {
        height: 50px;
        padding: 16px 24px;
        border-radius: 50px;
        background-color: var(--btn-primary-bg-color);
        color: var(--btn-primary-color);
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            background-color: darken(#3f71f6, 10%);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: width 0.4s ease, height 0.4s ease;
        }

        &:hover::before {
            width: 250%;
            height: 250%;
        }

        span {
            position: relative;
            z-index: 1;
            transition: color 0.3s ease;
        }

        &:hover span {
            color: var(--btn-primary-color);
        }
    }
    &.secondary {
        height: 50px;
        padding: 11px 16px;
        border-radius: 10px;
        background-color: var(--btn-secondary-bg-color);
        color: var(--btn-secondary-color);
        font-weight: 500;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px var(--btn-secondary-shadow-color);
        &:hover {
            background-color: var(--btn-secondary-hover-bg-color);
            color: var(--btn-secondary-hover-color);
            border: 1px solid var(--btn-secondary-hover-border-color);
            box-shadow: 0 8px 16px var(--btn-secondary-hover-shadow-color);
            transform: translateY(-3px);
        }
        &:active {
            background-color: var(--btn-secondary-active-bg-color);
            box-shadow: 0 4px 10px var(--btn-secondary-active-shadow-color);
            transform: translateY(2px);
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px var(--btn-secondary-focus-shadow-color);
            &:not(:hover) {
                background-color: var(--btn-secondary-bg-color);
                color: var(--btn-secondary-color);
                border: 1px solid transparent;
                box-shadow: 0 4px 6px var(--btn-secondary-shadow-color);
            }
        }
    }
    &.icon {
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--btn-icon-bg-color);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px var(--btn-icon-shadow-color);

            &::before {
                content: "";
                position: absolute;
                width: 150%;
                height: 150%;
                border: 2px solid var(--btn-icon-border-color);
                border-radius: 50%;
                animation: ripple 1s ease-out infinite;
                z-index: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            z-index: 0;
            transition: width 0.4s ease, height 0.4s ease;
        }

        .icon {
            position: relative;
            z-index: 1;
            font-size: 20px;
            color: var(--icon-color);
            transition: transform 0.3s ease;
        }

        &:hover .icon {
            transform: scale(1.2);
        }
    }
    &.social {
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-color: var(--btn-social-bg-color);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .icon {
            transition: transform 0.3s ease, color 0.3s ease;
            position: relative;
            z-index: 1;
        }

        &:hover {
            & .icon {
                transform: scale(1.2) rotate(360deg);
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid var(--btn-social-border-color);
            z-index: 0;
            transform: scale(1);
            opacity: 0;
            transition: transform 0.4s ease, opacity 0.4s ease;
        }

        &:hover {
            &::after {
                transform: scale(1.5);
                opacity: 1;
            }
        }
    }
    &.drop-up {
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--btn-icon-bg-color);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px var(--btn-icon-shadow-color);

            &::before {
                content: "";
                position: absolute;
                width: 150%;
                height: 150%;
                border: 2px solid var(--btn-icon-border-color);
                border-radius: 50%;
                animation: ripple 1s ease-out infinite;
                z-index: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            z-index: 0;
            transition: width 0.4s ease, height 0.4s ease;
        }

        .icon {
            position: relative;
            z-index: 1;
            font-size: 20px;
            color: var(--icon-color);
            transition: transform 0.3s ease;
        }

        &:hover .icon {
            transform: scale(1.2);
        }
    }
}

.btn-menu {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--btn-menu-bg-color);
    cursor: pointer;

    svg {
        width: 50px;
        height: 50px;
        stroke: var(--btn-menu-color);
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        display: block;
        position: absolute;

        path {
            transition: stroke-dasharray 0.85s ease 0s, stroke-dashoffset 0.85s ease 0s;
            stroke-dasharray: 26px 100px;
            stroke-dashoffset: 126px;
            transform: translateZ(0);

            &:nth-child(2) {
                transition-duration: 0.7s;
                transition-timing-function: ease-in;
                stroke-dashoffset: 100px;
                stroke-dasharray: 26px 74px;
            }

            &:nth-child(3) {
                stroke-dashoffset: 133px;
                stroke-dasharray: 26px 107px;
            }
        }
    }

    &.active {
        svg {
            path {
                stroke-dashoffset: 57px;

                &:nth-child(1),
                &:nth-child(3) {
                    transition-delay: 0.15s;
                    transition-timing-function: cubic-bezier(0.2, 0.4, 0.2, 1.1);
                }

                &:nth-child(2) {
                    transition-duration: 0.4s;
                    stroke-dashoffset: 2px;
                    stroke-dasharray: 1px 100px;
                }

                &:nth-child(3) {
                    stroke-dashoffset: 58px;
                }
            }
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
