:root {
    --card-bg-color: #0b0d1d;
    --card-border-color: #272837;
}

@mixin card {
    position: relative;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(90deg, var(--card-border-color), transparent, var(--card-border-color), transparent) 0 0 / 300% 300%;
    animation: border-move 10s linear infinite;
    display: inline-block;
    overflow: hidden;
}

.card {
    @include card;
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        background: var(--card-bg-color);
        border: 1px solid transparent;
        backdrop-filter: blur(10px);
        border-radius: 24px;
        align-self: stretch;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 1740px;
            height: 500px;
            left: calc(50% - 1740px / 2);
            bottom: -500px;
            background: rgba(63, 113, 246, 0.3);
            filter: blur(112px);
            z-index: 0;
        }

        @media screen and (min-width: 992px) and (max-width: 1239.98px) {
            gap: 20px;
        }
        @media screen and (max-width: 991.98px) {
            flex-direction: column;
            gap: 20px;
        }
        & > .btn.icon {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    &__wrap {
        &--info {
            width: 100%;
            flex: 1 1 calc(55% - 40px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 80px;
            order: 1;
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                flex: 1 1 calc(55% - 20px);
                padding: 50px;
            }
            @media screen and (max-width: 991.98px) {
                flex: 1 1 100%;
                padding: 20px;
            }
        }
        &--img {
            width: 100%;
            flex: 1 1 calc(45% - 40px);
            order: 2;
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                flex: 1 1 calc(45% - 20px);
            }
            @media screen and (max-width: 991.98px) {
                flex: 1 1 100%;
            }
        }
    }
    &:nth-child(2) {
        & .card__wrap {
            &--info {
                order: 2;
                @media screen and (max-width: 991.98px) {
                    order: 1;
                }
            }
            &--img {
                order: 1;
                margin-top: auto;
                @media screen and (min-width: 624px) and (max-width: 991.98px) {
                    order: 2;
                    & img {
                        width: auto;
                    }
                }
                @media screen and (max-width: 623.98px) {
                    order: 2;
                }
            }
        }
    }
    &__block {
        width: 100%;
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        @media screen and (min-width: 992px) and (max-width: 1239.98px) {
            flex: 1 1 calc(50% - 20px);
        }
        @media screen and (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }
    &__subtitle {
        @include subtitle;
        text-transform: uppercase;
    }
    &__title {
        @include title-card;
    }
    &__desc-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: auto;
    }
    &__desc {
        @include desc-primary;
        display: flex;
        align-items: center;
        gap: 10px;
        &--secondary {
            @include desc-secondary;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @media screen and (min-width: 624px) and (max-width: 991.98px) {
            width: 100%;
            height: 300px;
        }
        @media screen and (max-width: 623.98px) {
            width: 100%;
            height: auto;
            margin-right: auto;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .card__desc {
            white-space: nowrap;
            flex-wrap: wrap;
        }
    }
    &__tooltip {
        @include tooltip;
    }
}

@keyframes border-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}


.widget {
    width: 100%;
    height: auto;
    &__preview {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}