.logo {
    width: 150px;
    height: 30px;
    flex: 0 0 auto;
    object-fit: contain;
    &.primary {
        width: 200px;
        max-width: 200px;
        height: 35px;
        max-height: 35px;
        display: block;
    }
}
