:root {
    --nav-bg-color: #010314;
}

.nav {
    @media screen and (min-width: 464px) and (max-width: 1239.98px) {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100%;
        max-width: 300px;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        background-color: var(--nav-bg-color);
        z-index: 999;
        &.show {
            right: 0;
        }
    }
    @media screen and (max-width: 463.98px) {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        background-color: var(--nav-bg-color);
        z-index: 999;
        &.show {
            right: 0;
        }
    }
    &__list {
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            width: 100%;
            flex-direction: column;
            margin: auto;
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            flex-direction: column;
            margin: auto;
        }
    }
    &__item {
        width: 100%;
        flex: 1 1 calc(100% / 6 - 20px);
        &.active {
            & .nav__link {
                color: var(--link-active-color);
                text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
            }
        }
        @media screen and (max-width: 1239.98px) {
            padding: 10px;
        }
    }
    &__link {
        @include link;

        color: var(--link-color);
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
    }
    &__line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(39, 40, 55, 0) 20%, rgba(39, 40, 55, 1), rgba(39, 40, 55, 0) 80%);
        background-size: 120% 100%;
        animation: steps-line 2s ease-in-out infinite alternate;
        @media screen and (min-width: 1240px) {
            display: none;
        }
    }

    & .btn.secondary {
        display: none;
        @media screen and (max-width: 767.98px) {
            display: flex;
            width: 100%;
        }
    }
}
