:root {
    --pagination-custom-bg-color: #2c2d3b;
    --pagination-custom-thumb-bg-color: #0b0d1d;
    --pagination-custom-thumb-border-color: #2c2d3b;
}

.pagination {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background: var(--pagination-custom-bg-color);
    &__btn {
        position: absolute;
        top: -50%;
        width: 54px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--pagination-custom-thumb-bg-color);
        border: 1px solid var(--pagination-custom-thumb-border-color);
        transform: translateY(-50%);
        cursor: pointer;
        border-radius: 50px;
        &--left {
            left: 0;
        }
        &--right {
            right: 0;
        }
    }
}
