:root {
    --main-title-color: #ffffff;
    --section-title-color: linear-gradient(
        91.39deg,
        rgba(255, 255, 255, 0.4) -3.49%,
        #ffffff 45.06%,
        rgba(255, 255, 255, 0.6) 93.98%
    );
    --card-title-color: #ffffff;
    --text-title-color: #ffffff;
    --subtitle-color: #ffffff;

    --accident-color: #3f71f6;
}

@mixin title-main {
    font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (1440 - 320)));
    color: var(--main-title-color);
}

@mixin title-accident {
    font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (1440 - 320)));
    color: var(--accident-color);
}

@mixin title-section {
    font-weight: 500;
    font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1440 - 320)));
    background: var(--section-title-color);
    background-size: 200%;
    background-position: 0 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: gradient-move 4s ease-in-out infinite alternate;
}

@mixin title-card {
    font-weight: 500;
    font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    color: var(--card-title-color);
}

@mixin title-text {
    font-weight: 500;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
    text-transform: capitalize;
    color: var(--text-title-color);
}

@mixin subtitle {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
    text-align: center;
    color: var(--subtitle-color);
    opacity: 0.8;
}

@keyframes gradient-move {
    0% {
        background-position: 100% 50%; // Начинаем справа
    }
    100% {
        background-position: 0% 50%; // Перемещаемся налево
    }
}