@import "./../components/_social";

:root {
    --footer-border-color: #191d24;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__list {
        max-width: 600px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 767.98px) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
    &__item {
        width: 100%;
        flex: 1 1 calc(100% / 6);
        &.active {
            & .footer__link {
                color: var(--link-active-color);
                text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
            }
        }
        @media screen and (max-width: 767.98px) {
            flex: 1 1 calc(100% / 3);
        }
        @media screen and (max-width: 463.98px) {
            flex: 1 1 calc(100% / 2);
        }
    }
    &__link {
        @include link;

        color: var(--link-color);
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
    }
    &__header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 20px;
        position: relative;
        @media screen and (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
        & .btn.drop-up {
            position: absolute;
            right: 0;
            @media screen and (max-width: 767.98px) {
                display: none;
            }
        }
    }
    &__logo {
        @media screen and (max-width: 767.98px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    &__copyright {
        width: 100%;
        border-top: 1px solid var(--footer-border-color);
        padding: 20px;
        text-align: center;
        @include copyright;
    }
}