@import "./../components/_card";

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        z-index: 2;
    }
    &__title {
        @include title-section;
        text-align: center;
    }
    &__desc {
        @include desc-primary;
    }
}
