.ipo {
    &__list {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        @media screen and (min-width: 992px) and (max-width: 1239.98px) {
            gap: 40px;
        }
        @media screen and (max-width: 991.98px) {
            flex-direction: column;
            gap: 40px;
        }
    }
    &__item {
        width: 100%;
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 992px) and (max-width: 1239.98px) {
            flex: 1 1 calc(50% - 30px);
        }
        @media screen and (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__tooltip {
        @include tooltip-secondary;
    }
    &__title {
        @include title-section;
    }
    &__desc {
        @include desc-primary;
    }
}
