:root {
    --promo-bg-color: #010314;
}

.promo {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrap {
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 20px;
        text-align: center;
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: var(--promo-bg-color);
            filter: blur(70px);
        }
        @media screen and (max-width: 1239.98px) {
            max-width: 800px;
        }
        &--title {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__title {
        @include title-main;
        position: relative;
        & .accident {
            @include title-accident;
        }
    }
    &__desc {
        @include desc-primary;
    }
    &__icon {
        display: block;
        position: absolute;
        z-index: 1;
        &.frst {
            width: 80px;
            height: 80px;
            left: 60px;
            bottom: 200px;
            background: url(../img/icon_1.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.75s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 50px;
                height: 50px;
                left: 40px;
                bottom: 100px;
            }
        }
        &.scnd {
            width: 70px;
            height: 70px;
            left: 270px;
            bottom: 150px;
            background: url(../img/icon_2.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.25s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 60px;
                height: 60px;
                left: 270px;
                bottom: 180px;
            }
        }
        &.thrd {
            width: 90px;
            height: 90px;
            left: 130px;
            top: 270px;
            background: url(../img/icon_3.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 4s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
        }
        &.frth {
            width: 60px;
            height: 60px;
            left: 90px;
            bottom: 50px;
            background: url(../img/icon_4.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 40px;
                height: 40px;
                left: 50px;
                bottom: -15px;
            }
        }
        &.ffth {
            width: 70px;
            height: 70px;
            left: -30px;
            top: 200px;
            background: url(../img/icon_5.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 3.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
        }
        &.sxth {
            width: 85px;
            height: 85px;
            left: 205px;
            top: 50px;
            background: url(../img/icon_6.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 767.98px) {
                left: 155px;
                top: 50px;
            }
            @media screen and (max-width: 563.98px) {
                width: 65px;
                height: 65px;
                top: 70px;
                left: 20px;
            }
        }
        &.svth {
            width: 55px;
            height: 55px;
            left: 10px;
            top: 0;
            background: url(../img/icon_7.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 4.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 523.98px) {
                width: 50px;
                height: 50px;
                left: -25px;
                top: 0;
            }
        }
        &.eghth {
            width: 180px;
            height: 45px;
            left: 290px;
            bottom: 250px;
            background: url(../img/icon_8.svg) no-repeat 50% 50% / contain;
            animation: miner 4s infinite ease-in-out;
            z-index: 2;
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                left: 200px;
                bottom: 200px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                left: 80px;
                bottom: 200px;
            }
            @media screen and (max-width: 767.98px) {
                left: 50px;
                bottom: 120px;
            }
            @media screen and (max-width: 563.98px) {
                width: 120px;
                height: 35px;
                left: 20px;
                bottom: 70px;
            }
        }
        &.nnth {
            width: 180px;
            height: 45px;
            right: 325px;
            bottom: 150px;
            background: url(../img/icon_9.svg) no-repeat 50% 50% / contain;
            animation: customer 4s infinite ease-in-out;
            z-index: 2;
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                right: 225px;
                bottom: 200px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                right: 100px;
                bottom: 220px;
            }
            @media screen and (max-width: 767.98px) {
                right: 50px;
                bottom: 80px;
            }
            @media screen and (max-width: 563.98px) {
                width: 120px;
                height: 35px;
                right: 30px;
                bottom: 60px;
            }
        }
        &.tnth {
            width: 180px;
            height: 45px;
            right: 370px;
            top: 150px;
            background: url(../img/icon_10.svg) no-repeat 50% 50% / contain;
            animation: broker 4s infinite ease-in-out;
            z-index: 2;
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                right: 170px;
                top: 100px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                right: 250px;
                top: 100px;
            }
            @media screen and (max-width: 767.98px) {
                right: 150px;
                top: 80px;
            }
            @media screen and (max-width: 563.98px) {
                width: 120px;
            height: 35px;
                right: 80px;
                top: 40px;
            }
        }
        &.elvnth {
            width: 55px;
            height: 55px;
            right: 160px;
            bottom: 10px;
            background: url(../img/icon_11.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
        }
        &.twlvth {
            width: 70px;
            height: 70px;
            right: -30px;
            bottom: 100px;
            background: url(../img/icon_12.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 70px;
                height: 70px;
                right: -30px;
                bottom: 30px;
            }
        }
        &.thrnth {
            width: 90px;
            height: 90px;
            right: 235px;
            bottom: 260px;
            background: url(../img/icon_13.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 3s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 60px;
                height: 60px;
                right: 235px;
                bottom: 260px;
            }
        }
        &.frtnth {
            width: 80px;
            height: 80px;
            right: 55px;
            bottom: 290px;
            background: url(../img/icon_14.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 563.98px) {
                width: 50px;
                height: 50px;
                right: 25px;
                top: 350px;
            }
        }
        &.fftnth {
            width: 60px;
            height: 60px;
            right: -20px;
            top: 190px;
            background: url(../img/icon_15.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 3.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (max-width: 523.98px) {
                width: 50px;
                height: 50px;
                right: -25px;
                top: 190px;
            }
        }
        &.sxtnth {
            width: 90px;
            height: 90px;
            right: 170px;
            top: 95px;
            background: url(../img/icon_16.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 2.5s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                right: 150px;
                top: 195px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
            }
            @media screen and (max-width: 767.98px) {
                right: 120px;
            }
            @media screen and (max-width: 523.98px) {
                width: 70px;
                height: 70px;
                top: 50px;
                right: 50px;
            }
        }
        &.svntnth {
            width: 70px;
            height: 70px;
            right: 15px;
            top: 15px;
            background: url(../img/icon_17.svg) no-repeat 50% 50% / contain;
            animation: colorPulse 5s infinite linear;
            @media screen and (max-width: 1239.98px) {
                animation: floatUp 2s ease-out forwards, icon-pulse 3s infinite ease-in-out;
                display: inline-block;
                will-change: transform, filter, opacity;
            }
            @media screen and (min-width: 992px) and (max-width: 1239.98px) {
                right: 75px;
                top: 25px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
            }
            @media screen and (max-width: 767.98px) {
            }
            @media screen and (max-width: 523.98px) {
                width: 50px;
                height: 50px;
                right: -15px;
                top: 5px;
            }
        }
    }
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes icon-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes miner {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) translateX(-15px);
    }
}

@keyframes customer {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) translateX(25px);
    }
}

@keyframes broker {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px) translateX(-25px);
    }
}
