.steps {
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 767.98px) {
            gap: 20px;
        }
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        & .steps__line {
            display: none;
        }
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            gap: 40px;
        }
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
            gap: 20px;
            & .steps__line {
                display: block;
            }
        }
    }
    &__step {
        width: 100%;
        max-width: 470px;
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            gap: 20px;
        }
        @media screen and (max-width: 767.98px) {
            gap: 20px;
        }
    }
    &__title {
        @include title-section;
        width: 100%;
        max-width: 120px;
        text-align: center;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            max-width: 100px;
        }
        @media screen and (max-width: 767.98px) {
            max-width: 70px;
        }
    }
    &__desc {
        @include desc-primary;
    }
    &__line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(39, 40, 55, 0) 20%, rgba(39, 40, 55, 1), rgba(39, 40, 55, 0) 80%);
        background-size: 120% 100%;
        animation: steps-line 2s ease-in-out infinite alternate;
    }
}

@keyframes steps-line {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}